<body id="page-top">
  <div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
      style="background: url(&quot;assets/img/1200px-Banque_de_l’agriculture_et_du_développement_rural.svg.png&quot;) top / contain no-repeat, #094220;">
      <div class="container-fluid d-flex flex-column p-0"><a
          class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"></div>
          <div class="sidebar-brand-text mx-3"><span>MY WORKSPACE</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
          <li class="nav-item"><a class="nav-link" href="index.html"><i
                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
          <li class="nav-item"><a class="nav-link active"><i class="far fa-calendar"></i><span>Réunion</span></a></li>
          <li class="nav-item"></li>
          <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Se
                Déconnecter</span></a></li>
        </ul>

      </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
          <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop"
              type="button"><i class="fas fa-bars"></i></button></div>
        </nav>
        <div class="container-fluid">
          <h3 class="text-dark mb-4"></h3>
        </div>
        <div class="bootstrap_chat">
          <div class="container py-5 px-4">


            <div class="row rounded-lg overflow-hidden shadow">


              <!-- Users box-->
              <div class="col-5 px-0">
                <div class="bg-white">

                  <div class="bg-gray px-4 py-2 bg-light">
                    <p class="h5 mb-0 py-1">Users List</p>
                  </div>

                  <div class="messages-box">
                    <div class="list-group rounded-0">
                      <a class="list-group-item list-group-item-action active text-white rounded-0">
                        <div class="media">
                          <div class="media-body ml-4">
                            <div class="d-flex align-items-center justify-content-between mb-1">
                              <h6 class="mb-0">ilyes Djebara</h6>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                </div>
              </div>



              <!-- Chat Box-->
              <div class="col-7 px-0">
                <div class="px-4 py-5 chat-box bg-white">
                  <!-- Sender Message-->
                  <div class="media w-50 mb-3">
                    <div class="media-body ml-3">
                      <span>ilyes Djebara:</span>
                      <div class="bg-light rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-muted">Test Hello!</p>
                      </div>
                      <p class="small text-muted">12:00 PM | jun 1</p>
                    </div>
                  </div>

                  <!-- Reciever Message-->
                  <div class="media w-50 ml-auto mb-3">
                    <div class="media-body">
                      <span>me:</span>
                      <div class="bg-primary rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-white">hello ilyes </p>
                      </div>
                      <p class="small text-muted">12:00 PM | jun 1</p>
                    </div>
                  </div>


                  <!-- documents sending-->
                  <div class="media w-50 ml-auto mb-3">
                    <div class="media-body">
                      <span>me:</span>
                      <div class="bg-primary rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-white"><i class="far fa-file-pdf"> </i>
                          <b>rapport-reunion-desgin.pdf</b> </p>
                      </div>
                      <p class="small text-muted">12:05 PM | jun 1</p>
                    </div>
                  </div>



                </div>

                <!-- sending message -->
                <form action="#" class="bg-light">
                  <div class="input-group">

                    <input type="text" placeholder="Type a message" aria-describedby="button-addon2"
                      class="form-control rounded-0 border-0 py-4 bg-light">
                    <div class="input-group-append">
                      <button id="button-send-text" type="submit" class="btn btn-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-link-45deg" viewBox="0 0 16 16">
                          <path
                            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
                          <path
                            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z" />
                        </svg>
                      </button>
                      <button id="button-send-document" type="submit" class="btn btn-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-send" viewBox="0 0 16 16">
                          <path
                            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-xxl-12">
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white sticky-footer">
        <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
        </div>
      </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>

</body>