
<body class="bg-gradient-primary" style="background: #085426;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;/img/badr.png&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome in Your WorkSpace!</h4>
                                    </div>

                                    <form action="/login">
                                        <button class="btn btn-primary d-block btn-user w-100" type="submit" style="background: #085426;margin: 10px;">Login</button>
                                    </form>
                                    
                                    <form action="/register">
                                        <button class="btn btn-primary d-block btn-user w-100" type="submit" style="background: #085426;margin: 10px;">Register</button>
                                    </form>
                                        
                        
                                        <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>